body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.rounded-bottom {
   border-bottom-right-radius: 1rem !important;
   border-bottom-left-radius: 1rem !important;
}

.rounded-top {
   border-top-right-radius: 1rem !important;
   border-top-left-radius: 1rem !important;
}
